@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 1200px) {
    
    * {
        padding: 0px;
        margin: 0px;
    }

    body {
        background-image: linear-gradient(to bottom, rgb(46, 39, 53), rgb(67, 1, 128));
    }

    main {
        width: 700px ;
        height: 300px;
    }

    main h1 {
        margin-left: 24%;
        text-align: left;
        padding: 5px 10px;
        margin-bottom: 8px;
        margin-top: 8px;
    }

    #textotelamaior {
        display: block;
        font-size: 1em;
        text-align: center;
        margin: 10px 0px;
        width: 400px;
        padding-top: 0px;
        margin-bottom: 15px;
    }

    #textotelamenor {
        display: none;
    }

    div {
        width: 300px;
        display: block;
        margin: 3px;
    }

    form {
        display: inline-block;
        margin-left: 7.8%;
    }

    div.botoeslogin {
        text-align: center;
        background-color: rgb(10, 103, 134);
        cursor: pointer;
        margin: 3px;
        width: 320px;
    }

    input {
        width: 265px;
    }

    img {
        position: absolute;
        left: 62.3%;
        height: 301px;
        border-radius: 0px 20px 20px 0px;
        width: 265px;
    }
}




@media screen and (min-width: 1200px) {
    
    body {
        background-image: linear-gradient(to bottom, rgb(46, 39, 53), rgb(67, 1, 128));
    }
    
    main {
        width: 1000px;
        height: 400px;
    }

    img {
        width: 500px;
        height: 400px;
        position: absolute;
        left: 50%;
        border-radius: 0px 10px 10px 0px;
    }

    main h1 {
        margin-right: 48%;
        font-size: 2.5em;
    }
    
    #textotelamaior {
        display: block;
        font-size: 1.5em;
        text-align: center;
        margin-left: 6%;
        margin-top: 15px;
        margin-bottom: 15px;
        width: 400px;
        padding-top: 0px;
    }

    #textotelamenor {
        display: none;
    }

    form {
        display: inline-block;
        margin-left: 6%;
        margin-top: 5px;
    }

    input {
        padding: 8px;
        width: 300px;
    }

    input.botoes {
        padding: 15px;
    }

    span {
        position: absolute;
        top: 16%;
        left: 2px;
    }

    .material-icons {
        font-size: 28px;
    }
}